<h2>トップページ</h2>
<%= link_to '新規投稿ページ', new_textbook_path %>
<% @textbooks.each do |textbook| %>
  <h1><%= textbook.name %></h1>
  <h2><%= textbook.item %></h2>
  <h3><%= textbook.content %></h3>
<% end %>