* {
  box-sizing: border-box;
}

.header {
  width: 100vw;
  padding: 2vh 1vw;
  display: flex;
  justify-content: space-between;
  background-color: #696969;
}

.title-name {
  color: white;
}

.user-nav {
  display: flex;
}

.nav-list {
  display: flex;
}

.user-name {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-right: 1vw;
}

.logout {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.login {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-right: 1vw;
}

.sign-up {
  text-decoration: none;
  color: white;
  font-weight: bold;
}